@import url('variables.css');

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    
}

.card {
    width: var(--card-width);
    background-color: var(--card-bg-color);
    padding: var(--card-padding);
    box-shadow: var(--card-shadow-h-offset) var(--card-shadow-v-offset) var(--card-shadow-blur) var(--card-main-color);
    margin: 30px;
}


/* Here you can make media queries. (At least one!!) */

@media only screen and (max-width: 700px) {

    .container {

        flex-direction: column;

    }

    .card {
        --card-width: 85%; /* Adjust the width for smaller screens */
    }
}
