.circle-container {
  transition: fill 0.3s ease; /* Smooth color transition */
  transform-origin: center;
  transform-box: fill-box;
}

.circle-container:hover {
  transform: scale(1.05);
}

.circle-container:active {
  transform: scale(0.95)
}

@keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes scale-animation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes color-change {
    0% {
      fill: #4a82dd;
    }
    25% {
      fill: #46379b;
    }
    50% {
      fill: #630ac9;
    }
    75% {
      fill: #46379b;
    }
    100% {
      fill: #4a82dd;
    }
  }

  
  .e {
    animation: rotate-animation 5s infinite linear; /* Rotate animation */
  }
  
  .f {
    animation: scale-animation 4s infinite ease-in-out; /* Scale animation */
  }
  
  .g {
    animation: color-change 3s infinite ease-in-out; /* Color change animation */
  }
  
  .h {
    animation: scale-animation 6s infinite ease-in-out; /* Scale animation */
  }